{% extends "!layout.html" %}

{# Add the Google Analytics script before closing the tag head #}
{% block extrahead %}
{{ super() }}

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-25977718-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

{% endblock %}

{% block rootrellink %}
	<li><a href="{{ pathto('index') }}">Home</a>|&nbsp;</li>

	<li><a href="{{ pathto('documentation') }}">Documentation</a>|&nbsp;</li>

  <li><a href="{{ pathto('search') }}">Search</a>|&nbsp;</li>

{% endblock %}


{% block relbar1 %}

<div class="header-container">

  <div class="logo"><img src="{{pathto("_static/hector-logo.jpg", 1) }}" width="200" height="150" border="0" alt="Hector"/></div>

  <div class="title1">Hector</div>
  <div class="title2">A high level Java client for Apache Cassandra</div>
</div>
{{ super() }}
{% endblock %}

{# put the sidebar before the body #}
{% block sidebar1 %}{{ sidebar() }}{% endblock %}
{% block sidebar2 %}{% endblock %}

